---
- include_tasks:        '../tasks/install_packages.yml'
- include_tasks:        '../tasks/install_files.yml'
- include_tasks:        '../tasks/lines_in_files.yml'
- include_tasks:        '../tasks/known_hosts.yml'
  vars:
    known_hosts:        "{{ groups['ansible-target'] }}"
# This may technically belong in inventory.
- include_tasks:        '../tasks/known_hosts.yml'
  vars:
    known_hosts:
      - "github.com"
